.bundle
db/*.sqlite3
log/*.log
tmp/**/*
\#*
.#*
*~
*.swp
*.DS_Store
.idea
.project
romey.db
romey.sqlite
.sass-cache
.jhw-cache
coverage/
.byebug_history
.env*
*.pem

/config/master.key

/config/credentials/test.key
