/* admin */
@import '../imports/mixins';
@import '../imports/colors';
@import '../imports/dimensions';

#notice {
  @include drop-shadow(0,0,5px,1px, pink);
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  background: #606;
  @include border-radius(4px);
  @include opacity(0.8);
  position: absolute;
  z-index:5;
  left: $width / 3;
}

.admin-site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-site-nav__item {
  padding:  0 4px;
}
.admin {
  &.flash {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    background-color: $medium_dark_gray;
    &.error, &.alert, &.notice {
      background-color: $error_red;
    }
  }
  background:none;
  header {
    background: rgb(50,50,50);
    height: 25px;
    padding:20px;
    margin:0 0 10px;
    display: flex;
    .site-name {
    }
  }
  h1 {
    margin-bottom: 28px;
  }
  table {
    .icon {
      vertical-align: middle;
    }
    input {
      width: 300px;
    }
  }

  li.selected {
    a {
      color: white;
    }
  }

  .block {
    @include border-radius(10px);
    width: 100%;
    float: left;
    padding: 6px 0px 15px;
    margin-right: 0px;
    margin-bottom: 20px;
    border-top: 1px solid $medium_dark_gray;
    background-color: rgba(255,255,255,0.15);
    @include opacity(0.7);
    h3 {
      margin: 5px 10px 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $medium_dark_gray;
    }
    ul, ul li {
      margin: 5px;
    }
    .tag_cloud {
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
      line-height: 2.5em;
      .css1 { font-size: 1.0em; }
      .css2 { font-size: 1.2em; }
      .css3 { font-size: 1.4em; }
      .css4 { font-size: 1.6em; }
      .tag {
        @include border-radius(4px);
        white-space: nowrap;
        padding: 5px 7px;
        margin: 5px;
        border: 1px solid $dark_gray;
        background-color: $medium_dark_gray;
      }
    }
  }
  .content {
    @include clearfix;
  }

  .tabs {
    padding-bottom: 10px;
    a {
      padding: 10px;
      background-color: $dark_gray;
      border: 1px solid $medium_dark_gray;
      @include border-radius-top(5px);
      &:hover {
        background-color: $black;
      }
      &.current {
        background-color: $medium_dark_gray;
      }
    }
  }
}
