/* admin */
@import '../imports/mixins';
@import '../imports/colors';
@import '../imports/dimensions';

.simple_form, form {
  @include border-radius(10px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $light_gray;
  background-color: $dark_gray;
  @include opacity(0.85);
  label {
    width: 200px;
    display: block;
  }
  span.hint {
    display: block;
    color: $light_gray;
  }
  .input {
    margin-bottom: 20px;
  }
  .select2-container, .select2-container ul {
    @include border-radius(4px);
    padding: 5px;
    min-width: 200px;
  }


}
    
