
@import '../imports/mixins';
@import '../imports/colors';
@import '../imports/dimensions';

.simple_form, form {
  span.hint {
    margin-top: 4px;
    display: block;
    color: $medium_gray;
    font-size: small;
  }
  .input {
    margin-bottom: 20px;
  }
}
