/* admin */
@import '../imports/mixins';
@import '../imports/colors';
@import '../imports/dimensions';

.simple_form, form {
  @include border-radius(10px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $light_gray;
  background-color: $dark_gray;
  @include opacity(0.85);

  .control-label {
    font-size: x-small;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  input,textarea {
    @include border-radius(4px);
    border: 0;
    background-color: $dark-pink;
    color: $gray-pink;
    padding: 8px;
    font-size: inherit;
  }
  textarea {
    width: 600px;
    max-width: 95%;
  }
  label {
    width: 200px;
    display: block;
  }
  span.hint {
    margin-top: 4px;
    display: block;
    color: $light_gray;
    font-size: small;
  }
  .input {
    margin-bottom: 20px;
  }
  .select2-container, .select2-container ul {
    @include border-radius(4px);
    padding: 5px;
    min-width: 200px;
  }


}
