/* admin */
@import '../imports/mixins';
@import '../imports/colors';
@import '../imports/dimensions';

#notice {
  @include drop-shadow(0,0,5px,1px, pink);
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  background: #606;
  @include border-radius(4px);
  @include opacity(0.8);
  position: absolute;
  z-index:5;
  left: $width / 3;
}


.admin {

  input,textarea {
    @include border-radius(4px);
    padding: 5px;
  }
  textarea {
    width: 600px;
  }

  table {
    .icon {
      vertical-align: middle;
    }
    input {
      width: 300px;
    }
  }

  li.selected {
    a {
      color: white;
    }
  }
  .main {
    width: $width;
  }
    
  table.tracks {
    max-width: $max_width;
    border-top: 1px solid $medium_gray;
    background: black;
    @include opacity(0.7);
    tr.track { 
      height: 45px;
    }
    .text-copy {
      margin-right: 10px;
    }
    .edit-controls {
      padding-left: 30px;
    }
    tr.odd {
      background: $dark_gray;
    }
    td {
      padding: 2px 5px;
      overflow:hidden;
      &.url {
        width: 300px;
        overflow:hidden;
      }
    }
  }

  .track-info {
    @include drop-shadow(0, 0, 2px, 1px, $medium_dark_gray);
    position: relative;
    @include border-radius(15px);
    background-color: $dark_gray;
    @include opacity(0.9);
    border: 1px solid $dark_gray;
    list-style: none;
    @include clearfix;
    li {
      padding: 10px;

      margin-top:5px;
      margin-bottom: 12px;
    }
    
    .label { 
      margin-bottom: 5px;
    }
    .value {
      @include opacity(0.7);
      padding: 10px;
    }
  }

}