/* admin */
@import '../imports/mixins';
@import '../imports/colors';
@import '../imports/dimensions';

.admin {
  &.tracks {
    .main {
      position:relative;
    }
    .controls {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 4;
    }
    .controls.bottom {
      top: inherit;
      bottom: 20px;
    }
    tr:nth-child(even) {
      background-color: #333;
    }
    td {
      vertical-align: top;
    }
    tr.unpublished {
      background-color: #222;
      &:nth-child(even) {
        background-color: #333;
      }
    }
    td.info > div {
      line-height: 20px;
      margin: 0 0 4px;
    }
    .title {
      font-style: italic;
    }
    .pickadate__table {
      tr, td {
        background-color: white;
      }
    }

  }
  td.recorded_on {
    white-space: nowrap;
  }
  .tab_content {
    border-top: 1px solid rgba(60, 60, 60, 0.8);
  }
  .tab_content#published {
    display: none;
  }

  .track-info {
    @include drop-shadow(0, 0, 2px, 1px, $medium_dark_gray);
    position: relative;
    @include border-radius(15px);
    background-color: $dark_gray;
    @include opacity(0.9);
    border: 1px solid $dark_gray;
    list-style: none;
    @include clearfix;
    > li {
      padding: 10px;
      margin-top:5px;
      margin-bottom: 12px;
    }

    .label {
      margin-bottom: 5px;
    }
    .value {
      @include opacity(0.7);
      padding: 10px;
    }
  }
}