%h1 
  Tracks 
  = link_to_icon :add, new_admin_track_path, title: 'add new track'


- if @published.empty? && @unpublished.empty?
  .empty Maybe you ought to add some tracks!
- else
  .tabs
    - if @unpublished.present?      
      %a{href: '#unpublished', class: 'current'} unpublished
    - if @published.present?
      %a{href: '#published'} published 
  - if @published.present?
    .tab_content#published
      = render 'tracks_table', tracks: @published
  - if @unpublished.present?
    .tab_content#unpublished
      = render 'tracks_table', tracks: @unpublished


