/* colors */

$black: #000;
$dark_gray: rgba(30,0,30, 0.9);
$medium_dark_gray: rgba(60,60,60,0.8);
$medium_gray: #666;
$light_gray: #999;
$xlight_gray: #aaa;
$gray_pink: #dcc;
$pink: #FFC0CB;
$pink_gray: #ffc0cb;
$yellow: #ff9;
$dark_yellow: #cc9;
$white: #fff;
$light_pink: #fee;
/* admin */
$dark_red: #900;