/* colors */

$black: #000;
$dark_gray: rgba(30,0,30, 0.9);
$medium_dark_gray: rgba(60,60,60,0.8);
$medium_gray: #666;
$light_gray: #999;
$xlight_gray: #aaa;
$gray_pink: #dcc;
$pink: #baa;
$pink_gray: #baa;
$dark_pink: #866;
$darker_pink: #322;
$yellow: #ff9;
$dark_yellow: #cc9;
$white: #fff;
$light_pink: #fee;
$purple_background: rgba(70,40,40, 0.7);
$purple_background_subtle: rgba(60, 40, 40, 0.8);
/* admin */
$dark_red: #900;
$error_red: rgba(255,0,0,0.5);
