.tagged, .apple_pagination {
  background-color: #100510;
}
li.track {
  background-color: #150515;
}
.flash {
  background-color: #100510;
}
a.tooltip:hover:after {
  background-color: #100510;
}

li.track .tag, .tagged .tag {
  background-color: #202020;
}
