@import "../imports/mixins";
@import "../imports/colors";
@import "../imports/dimensions";

html, body {
  background-color: $black;
  color: $pink;
  font-family: sans-serif, verdana;
  font-size: 90%;
}

body {
  background-attachment: fixed;
  background-image: url(/assets/selectorschoice_webmain.png);
  background-position: center 10px;
  background-repeat: no-repeat;
}

ol, ul {
  list-style: none;
  margin:0;
  padding: 0;
  li {
    margin:0;
    padding: 0;
  }
}

A:link {text-decoration: none; color: $yellow;}
A:visited {text-decoration: none; color: $dark_yellow;}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: $white;}

footer, .container {
  width: $width;
  margin: auto;
}
footer {
  padding-left: 100px;
  span {
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-small;
    border-left: 1px solid $light_gray;
  }
  span:first-child {
    margin-left:78px;
    border-left: 0;
  }
}
body, .container {
  min-height: 570px; 
}
.container {
  min-height: 570px;
}
header{ 
  padding-top: $header_offset;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -1px;
}
h4, h5, h6 {
  letter-spacing: inherit;
}

nav.site_nav {
  position: relative;
  float: right;
  top: -49px;
  ul {
    li { 
      float:left;
      margin: 0;
      padding: 0 16px;
      border-left: 1px solid $light_gray;
      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
}
