@import "../imports/colors";

.search-actions {
  input {
    border: 0;
    font-size: 50px;
    background: rgba(50,20,20, 0.1);
    color: $gray_pink;
    border-bottom: 1px solid white;
    ::placeholder {
    }
  }
}
.search-results {
  .nothing {
    display: flex;
    flex-direction: column;

    p {
      text-align: left;
      margin-top: 0;
    }
    > * {

      flex: 3
    }
    .oops {
      flex: 1;
      font-size: initial;
    }
    font-size: initial;
    width: 100%;
  }
}

.search-result {
  &:nth-child(odd) {
    .search-result--track {
      background: rgba(255,240,240,0.1);
    }
  }


  > * {
    width: 100%;
  }
}
.search-result--track {
  padding: 20px;
}
.search-result--track--recorded-on {
  flex-basis: 120px;
}
.search-result--track--title {
  flex: 1;
}
.search-result--track--author {
  flex: 0;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


  .search-result--track {
    border-bottom: 1px solid $gray_pink;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
