@import "../imports/mixins";
@import "../imports/colors";
@import "../imports/dimensions";

.simple_form.session {
  @include border-radius(10px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $light_gray;
  background-color: $dark_gray;
  @include opacity(0.85);
  input,textarea {
    border: none;
    @include border-radius(4px);
    padding: 7px;
    background-color: rgba(255,255,255,0.7);
    &[type=submit] {
      background-color: buttonface;
    }
  }
  textarea {
    width: 600px;
  }
  label {
    width: 200px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 4px
  }
  span.hint {
    display: block;
    color: $light_gray;
  }
  .input {
    margin-bottom: 20px;
  }

}
.other-links {
  padding-top: 20px;
}
