@import "../imports/mixins";
@import "../imports/colors";
@import "../imports/dimensions";

a.tooltip {
  outline:none; 
  display: inline;
  position: relative;
}
a.tooltip:hover {
  text-decoration:none;
} 
a.tooltip:hover:after {
  background: rgba(60,60,60,0.8);
  @include border-radius(4px);
  @include drop-shadow(1px 1px 1px $medium_gray);
  bottom: 36px;
  left: -40px;
  color: #fff;
  content: attr(title);
  padding: 5px 15px;
  position: absolute;
  z-index: 10;
}
