@import "../imports/mixins";
@import "../imports/colors";
@import "../imports/dimensions";

h3 .author {
  float: right;
  letter-spacing: 0px;
}
.tagged, .apple_pagination {
  position: relative;
  padding: $block-padding;
  margin: 8px $block-margin 0;
  cursor: default;
  @include clearfix;
}

.tagged, .apple_pagination {
  border: 1px solid $dark_gray;
  @include drop-shadow(0, 0, 2px, 1px, $medium_dark_gray);
  @include border-radius(15px);
  background-color: rgba(30, 0, 30, 0.8);
  text-align: center;
}
.apple_pagination {
  background-color: rgba(0, 0, 0, 0.5);
}

.search_row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
  margin-left: $block-margin;
  @include opacity(0.8);
  .icon-search {
    position: absolute;
    right: 8px;
    bottom: 22px;
    cursor: pointer;
  }
  .select2-container {
    width: 200px;
    .select2-choices {
      @include border-radius(8px);
    }
  }
}
.tagged {
  .label {
    color: $gray_pink;
    text-transform: uppercase;
  }
  .icon.icon-delete {
    float: right;
  }

}
.apple_pagination {
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken($xlight_gray, 20);
    display: inline-block;
    color: black;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    @include border-radius(0.2em);
    text-shadow: rgba($light_gray, .8) 0px 1px 1px;
  }
  a {
    color: $medium_gray;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline
    }
  }
}

.tracks {
  @include clearfix;
}

.track {
  @include drop-shadow(0, 0, 2px, 1px, $medium_dark_gray);
  position: relative;
  @include border-radius(15px);
  background-color: rgba(30, 0, 30, 0.8);
  display:block;
  padding: 0 $block-padding;
  margin: $block-margin;
  border: 1px solid $dark_gray;
  .hd {
    .title {
      padding: 8px 12px;
      background-color: #430a22;
      background-color: rgba(70,40,50, 0.7);
      @include border-radius(4px);
      margin-top: 18px;
      font-size: 180%;
      text-transform: uppercase;
    }
  }
  .bd, .ft {
    position: relative;
    margin-top: 10px;
  }
  .ft {
    @include clearfix;
  }
  .description, .tracklist {
    margin-top: 10px;
    color: $pink_gray;
  }
  .tags {
    h5 {
      float: left;
      margin: 7px 10px 15px 0;
    }
  }
  .tags, .styles {
    float: left;
    line-height: 1.5em;
    margin-bottom: 10px;
    a.tag {
      color: $xlight_gray;
    }
  }
  .load-audio {
    cursor: pointer;
  }
  h5, h6 { display:inline-block}
  .download, .load-audio {
    font-size: 18px;
  }
  .download {
    position: absolute;
    top: 5px;
    right: 0px;

    .icon {
      text-align: bottom;
    }
  }
}
.track, .tagged {
  .tag {
    @include border-radius(4px);
    padding: 0 9px;
    margin: 5px;
    border: 1px solid $dark_gray;
    background-color: $medium_dark_gray;
    display: inline-block;
  }
}

.tagged

.audiojs {
  @include border-radius(10px);
  @include opacity(0.9);
  @include drop-shadow(0, 0, 3px, 1px, #646);
  width: 350px;
  .scrubber {
    width: 180px;
    @include border-radius(3px);
    .progress {
      @include gradient(#969, #747);
    }
  }
  @include gradient(#202, #504);
  .time {
    em, strong {
      font-family: helvetica, sans-serif;
    }
  }
}

.compactible {
  overflow:hidden;
  position: relative;
  .open-close {
    display: block;
    font-size:24px;
    cursor: pointer;
    position: absolute;
    left: 100px;
    top: 0px;
    color: $gray_pink;
  }
}
.compactible_tracklist {
  display:none;
}

.markup {
  line-height: 1.3em;
  li {
    line-height: 1.6em;
  }
  ul li:nth-child(2n) {
    background-color: rgba(255,240,240,0.1);
  }
}
